<div class="card my-4">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8"><h5>Welcome, Guest</h5></div>
            <div class="col-sm-4 text-end">
                <a class="bi bi-cart" routerLink="/cart">
                    <span class="position-absolute translate-middle badge rounded-pill bg-danger">{{ cartItemCount$ | async }}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngFor="let item of cart$ | async">
            <div class="col-sm-8">{{ item.productName }}</div>
            <div class="col-sm-4 text-end">{{ item.price | number:'1.2-2' }}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">Total</div>
            <div class="col-sm-4 text-end">{{ (totalAmount$ | async) | number:'1.2-2' }}</div>
        </div>
    </div>
</div>