<div class="container">
    <table class="table table-stripped">
        <thead>
            <tr class="table-secondary">
                <td colspan="3"><h5>Cart</h5></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart$ | async">
                <td>{{ item.productName }} | {{ item.productUnit }}</td>
                <td class="text-end">{{ item.price | number:'1.2-2' }}</td>
                <td class="text-end"><button class="btn btn-sm btn-danger text-end" (click)="remove(item.id)">Remove</button></td>
            </tr>
            <tr>
                <td>Total</td>
                <td class="text-end">{{ (cartTotalAmount$ | async) | number:'1.2-2'}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>