<div class="row">
    <div class="col-md-3">
        <app-category-list></app-category-list>
        <app-sort-options></app-sort-options>
    </div>
    <div class="col-md-6">
        <app-product-list></app-product-list>
    </div>
    <div class="col-md-3">
        <app-cart-widget></app-cart-widget>
    </div>
</div>